@mixin flexmin($x:center) {
    display: flex;
    justify-content: $x;
   
    
}

@mixin btnHover($bg,$color:$background) {
    background-color: $bg;
    color: $color;

    
}
@mixin flexCardCont() {
    display: flex;
    justify-content: left;
    
}